<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h1>Links</h1>
  <h2>Novels</h2>
  <ul>
    <li><a href="/novels/top/request">Top Request</a></li>
    <li><a href="/novels/top/recommend">Top Recommend</a></li>
  </ul>
</body>
</html>

