<!DOCTYPE html>
<html>
<head>
   <title>Novel Top</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Novel Top Request</h1>
  <p>Please input request URL.</p>
  <form method="post" action="./request">
  <p>
    http://ncode.syosetu.com/<input type="text" name="ncode" value="<%= params.ncode %>">/<br>
  </p>
  <div>
    <input type="submit">
  </div>
  </form>
  <% if (page) { %>
    <ul>
      <li><%= page.title %></li>
    </ul>
  <% } %>
</body>
</html>

